/M3LPBD/Semana1/Questionario/Media/nbproject/private/
/M3LPBD/Semana1/Questionario/Media/build/

/M3LPBD/Semana2/NomeSobrenome/.idea/

/M3LPBD/Semana3/Questionario/QuestionarioSemana3/nbproject/private/
/M3LPBD/Semana3/Questionario/QuestionarioSemana3/build/

/M3LPBD/Semana7/ClienteJava/nbproject/private/
/M3LPBD/Semana7/ClienteJava/build/